.navbar { 
    background-color: coral;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 40px;
}

.emyhouse {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  }

.presentation {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 20px;
}

.presentation a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.presentation a:hover {
  color: #ffcc00;
}