.navbar { 
    background-color: rgb(210, 132, 103);
    height: 120px;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 50px;
}

.avatar {
  height: 60px;
}

.emyhouse {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 60px;
  font-weight: bold;
  color: white;
  margin-top: 20px;
  }

.presentation {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 20px;
  justify-content: end;
  margin-right: 60px;
}

.presentation a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.presentation a:hover {
  color: #ffcc00;
}